body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.board {
  margin-top: 10px;
  font-size: 11px;

  .row {
    margin: 0;
    padding: 0;
    list-style: none;

    .cell {
      display: inline-block;
      margin: 1px 1px 0 0;
      padding: 8px 7px;
      background-color: #eee;
      border-color: #eee;
      border-width: 3px 3px;
      border-style: solid;
      color: #bbb;

      &.shoot {
        background-color: #bbb;
        border-color: #bbb;
        color: #eee;
      }

      &.ship {
        color: white;
      }

      &.ship-0 {
        background-color: #4285f4;
        border-color: #4285f4;
      }

      &.ship-1 {
        background-color: #0f9d58;
        border-color: #0f9d58;
      }

      &.ship-2 {
        background-color: #fbbc05;
        border-color: #fbbc05;
      }

      &.ship-3 {
        background-color: #ff8c00;
        border-color: #ff8c00;
      }

      &.ship-4 {
        background-color: #00ff00;
        border-color: #00ff00;
      }

      &.ship-6 {
        background-color: #ee82ee;
        border-color: #ee82ee;
      }

      &.damaged {
        background-color: #db4437;
        color: white;
      }
    }
  }
}
