<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Adalab Battleship</title>
  <link rel="icon" href="favicon.png" />
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <partial src="_menu.html"></partial>
  <partial src="_navigator.html"></partial>
  <partial src="_board.html"></partial>
  <partial src="_ships.html"></partial>
  <script type="text/javascript" src="./assets/js/main.js"></script>
  <script type="text/javascript">battleship.init();</script>
</body>

</html>
